.root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.font {
  font-family: monospace;
  font-size: 1rem;
}

.container {
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  &__editor {
    @extend .container;
    background-color: #202124;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr;
    textarea {
      @extend .font;
      background: transparent;
      color: inherit;
      border: unset;
      outline: unset;
      border-radius: 0;
      resize: none;
    }
  }
  &__highlight {
    @extend .container;
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 40px;
    z-index: 0;
  }
}

.item {
  &__line {
    @extend .font;
    user-select: none;
    text-align: right;
    color: #616161;
    padding-right: 0.5rem;
  }
}
